*{

    text-align: center;
    padding: 10px;
    position: relative;
}


h1{
    text-align: center;
    color: #06064c;
  font-family:'Courier New', Courier, monospace;
    text-emphasis: none;
}


